@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #141414;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}

.react-flow__node-circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-family: monospace;
  text-align: center;
}

.circle-node {
  width: 50px;
  height: 50px;
  background: #3498db;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.react-flow__node:hover {
  border: 2px solid #007bff; /* Brighter border */
}

.react-flow__node-text {
  display: none !important; /* Hide labels globally */
}

/* .react-flow__node > * {
  display: none;
} */

.hide-label .circle-node-label {
  display: none;
}